

/* Section 8 */

.section-8 {
    text-align: center;
    margin-bottom: 72px;
}
  
.section-8 p {
    margin-top: 32px;
}
  

/* Media Queries */

@media (min-width: 768px) {

  .section-8 {
    margin-bottom: 120px;
  }

}

@media (min-width: 1440px) {

  .city{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 100px;
  }

  .city h2 {
    width: 351px;
  }

  .city p {
    width: 500px;
  }

  .city button {
    margin: 0;
    width: 190px;
  }

}