@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 255, 255, 1);
  margin: 0 auto;
}

nav h1 {
  color: rgba(73, 85, 103, 1);
  font-family: Space Mono;
  text-align: center;
  font-size: 20px;
}

#sect1 h2 {
  font-family: Space Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.4285714626312256px;
  text-align: center;
  color: rgba(73, 85, 103, 1);
  margin-top: 56px;
}

#sect1 p{
  margin: 32px;
}

p {
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: rgba(147, 156, 170, 1);
  margin-left: 32px;
  margin-right: 32px;
}

.hello {
  width: 180px;
  height: 53px;
  background: rgba(252, 183, 43, 1);
  margin-left: 98px;
  margin-right: 97px;
  padding-top: 14px;
  margin-left: 96px;
  margin-bottom: 120px;
}

.hello h3 {
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

#sect2 h2 {
  font-family: Space Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.4285714626312256px;
  text-align: center;
  color: rgba(73, 85, 103, 1);
  margin-bottom: 27px;
}



#sect3 h2 {
  font-family: Space Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.4285714626312256px;
  text-align: center;
  color: rgba(73, 85, 103, 1);
  margin-top: 16px;
  margin-bottom: 27px;
}

#tel{
  width: 240px;
height: 240px;
  border-radius: 50%;
  margin-left: 68px;
  margin-top: 64px;
  position:relative;
  z-index: -1 ;
}

#scooter{
  margin-left: 68px;
  margin-top: 56px;
  position:relative;
  z-index: -1 ;
}

#prsn{
  margin-left: 68px;
  margin-top: 56px;
  position:relative;
  z-index: -1 ;
}

.rondjaune{
  margin-bottom: 16px;
  margin-left: 140px;
  margin-top: -48px;
  z-index: 1 ;
}
#sect4 h2 {
  font-family: Space Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.4285714626312256px;
  text-align: center;
  color: rgba(73, 85, 103, 1);
  margin-top: 16px;
  margin-bottom: 27px;
}

#sect5 h2{
  font-family: Space Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.8035714030265808px;
  text-align: center;
  color: rgba(73, 85, 103, 1);
  
}

#sect5 p{
  font-family: Lexend Deca;
font-size: 15px;
margin-top: 4px;
font-weight: 400;
line-height: 25px;
text-align: center;
color: rgba(73, 85, 103, 1);

}

#sect5 .apply {
  width: 247px;
  height: 53px;
  background: rgba(252, 183, 43, 1);
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 16px;
  margin-bottom: 48px;
  margin-left: 64px ;
  margin-right: 64px ;
  text-align: center;
  padding-top: 14px;
  color: rgba(255, 255, 255, 1);
}

#sect6 h2 {
  font-family: Space Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.4285714626312256px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

#sect6 {
  background-image: url(./img/Group\ 22.svg);
  height: 320px;
  position: relative;
  background-size: cover;
}

#sect6 h2 {
  color: rgba(255, 255, 255, 1);
  font-family: Space Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.4285714626312256px;
  text-align: center;
  width: 100%;
  position: relative;
  padding-top: 88px;
}

#bgimg {
  position: absolute;
  z-index: -1;
  width: 100%;
}

#sect6 div {
  margin-top: 40px;
  margin-bottom: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#gglplay {
  margin-left: 16px;
}

/* Footer */

footer {
  background-color: #333a44;
  padding: 64px 0 88px;
  text-align: center;
}

footer .logo {
  color: #ffffff;
}

.nav--footer ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
  flex-direction: column;
  list-style: none;
}
a {
  text-decoration: none;
  color: rgba(147, 156, 170, 1);

  font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
}
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 85px;
}
