@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  background-color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}

img {
  max-width: 100%;
}


/* Typo */

h1 {
  font-family: "Space mono", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -1.79px;
  color: #ffffff;
}

h2 {
  font-family: "Space mono", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -1.43px;
  color: #495567;
}

h3 {
  font-family: "Space mono", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -1.79px;
  line-height: 48px;
  color: #495567;
}

h4 {
  font-family: "Space mono", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 28px;
  letter-spacing: -0.89px;
  color: #495567;
}

.banner p {
  color: #ffffff;
}

.text h2 {
  color: #ffffff;
}

p {
  margin-top: 24px;
  font-weight: 400;
  color: #939CAA;
}

a {
  font-family: "space mono", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

/* a, ul */

a {
  text-decoration: none;
  color: #939CAA;
}

ul {
  list-style: none;
}


/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}

.nav, .btn--header {
  display: none;
}

.logo {
  margin: auto;
  height: 20px;
}

.logo img {
  height: 20px;
}


/* Banner */

.banner {
  position: relative;
  background-image: url('assets/img-banner-home.png');
  background-size: cover;
  background-position: right;
  z-index: -1;
} 

.banner .container {
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2F3B59;
  opacity: .75;
}

.banner--infos {
  position: relative;
  text-align: center;
  padding: 115px 0 180px;
  z-index: 1;
}

.banner--arrow {
  position: absolute;
  bottom: 15px;
  left: -300px;
  z-index: 1;
}

.banner--round {
  display: none;
}

.line {
  display: none;
}

.banner-about {
  background-image: url('assets/banner-about.png');
  background-position: center;
  background-size: 150%;
}

.banner--infos-about {
  padding: 60px 0;
}


/* Button */ 

button {
  font-family: "Space mono", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: #FCB72B;
  color: #ffffff;
  padding: 14px 40px;
  border: none;
  text-align: center;
  margin-top: 32px;
}


/* Section 1 */

.section-1{
  padding: 120px 0;
  text-align: center;
}

.section-1 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

.use {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.icons {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #FCB72B;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-bottom: 24px;
}


/* Section 2 */

.benefits {
  position: relative;
  text-align: center;
  margin-bottom: 120px;
}

.img--round img{
  border-radius: 100%;
  margin-bottom: 56px;
}

.arrow-right {
  position: absolute;
  top: 200px;
  right: -60px;
  transform: scaleX(-1) scale(1.3);
}

.arrow-left {
  position: absolute;
  top: 0;
  left: -130px;
  transform: scale(1.3);
}

.arrow-right-2 {
  position: absolute;
  top: 10px;
  right: -180px;
  transform: scaleX(-1) scale(1.3);
}

.arrow-right-big {
  display: none;
}

.round {
  display: none;
}


.section-2-about {
  padding: 72px 0 0 0;
}

.arrow-right-scale {
  top: 160px;
  transform: scaleX(-1) scaleY(-1) scale(1.3);
}


/* Section 4 */

.section-4 {
  text-align: center;
  margin-bottom: 120px;
}

.values {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-direction: column;
}

.section-4 h2 {
  margin-bottom: 60px;  
}

.values img {
  position: relative;
  border-radius: 100%;
  z-index: -1;
}

.number {
  width: 96px;
  height: 96px;
  padding: 34px;
  text-align: center;
  background-color: #FCB72B;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 16px;
  margin-top: -60px;
  z-index: 1;
}


/* Section 5 */

.section-5 {
  text-align: center;
  margin-bottom: 120px;
}

.questions {
  margin-top: 48px;
}

.answers {
  margin-top: 32px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.answer {
  padding: 32px;
  background-color: #F2F5F9;
  position: relative;
}

.answer h4 {
  padding-right: 20px;
}

.answer::after {
  content: "";
  position: absolute;
  top: 42px;
  right: 28px;
  bottom: 0;
  background-image: url('assets/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
}




/* CTA */

.section-3 {
  position: relative;
  background-color: #495567;
}

.section-3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("assets/footer-el.svg");
  background-size: cover;
  background-position: right;
  height: 50%;
}

.text {
  position: relative;
  text-align: center;
  padding: 88px 0;
}

.app {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.app img {
  height: 40px;
}


/* Footer */

footer {
  background-color: #333A44;
  padding: 64px 0 88px;
  text-align: center;
}

footer .logo {
  color: #ffffff;
}

.nav--footer ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
  flex-direction: column;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 85px;
}


/* Media Queries */

@media (min-width: 768px) {

  .container {
    padding: 0 98px;
  }

  /* Typo */

  h1 {
    font-size: 3.5rem;
    letter-spacing: -2.5px;
  }

  h2 {
    font-size: 3rem;
    letter-spacing: -2.14px;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
    letter-spacing: -1.07px;
  }

  p {
    margin-top: 40px;
  }

  /* Button */ 

  button {
    margin-top: 40px;
  }

  /* Header */

  header .container {
    padding: 0 40px;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .logo {
    margin: 0;
    height: 29px;
  }

  .logo img {
    height: 29px;
  }

  .nav {
    display: block;
    margin-right: 50px;
  }

  .nav ul {
    display: flex;
    gap: 32px;
  }

  .btn--header {
    margin: 0;
    display: block;
  }

  .menu {
    display: none;
  }

  /* Banner */

  .banner--infos button {
    margin-bottom: 40px;
  }

  .banner--arrow {
    left: -10%;
  }

  .banner--round {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 1;
  }

  .banner-about {
    background-position: 60% 44%;
    background-size: 200%;
  }

  .banner--infos-about {
    text-align: left;
  }

  /* Section 1 */

  .section-1 {
    position: relative;
  }

  .use {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    max-width: 100%;
    gap: 80px;
  }

  .use--text {
    max-width: 350px;
  }

  .icons {
    width: 96px;
    height: 96px;
  }

  .icons::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 25%;
    border: 7px solid #E5ECF4;
    height: auto;
    z-index: -1;
  }

  .icons img {
    width: 40px;
  }

  /* Section 2 */

  .img--round {
    width: 445px;
    margin: auto;
  }

  .arrow-right {
    display: none;
  }

  .arrow-right-big {
    display: block;
    position: absolute;
    top: 310px;
    right: -30px;
    transform: scale(1.3);
  }

  .round {
    display: block;
    position: absolute;
    right: -98px;
    top: 0;
    z-index: -1;
  }

  .round-left {
    left: -98px;
    transform: scaleX(-1);
  }

  .arrow-left {
    top: 0;
    left: -200px;
    transform: scale(1);
  }

  .arrow-right-2 {
    top: 70px;
    right: -200px;
    transform: scaleX(-1) scale(1);
  }

  .arrow-big-scale {
    transform: scaleY(-1) scale(1.3);
    top: 280px;
  }

  /* Section 4 */

  .values--text {
    width: 457px;
  }

  /* Section 5 */

  .section-5 .container {
    padding: 0 40px;
  }

  /* CTA */

  .text {
    padding: 88px 58px;
  }


  /* Footer */

  footer {
    padding: 0;
  }

  footer .container {
    padding: 35px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav--footer ul {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 0;
    flex-direction: row;
  }

  .nav--footer {
    margin-right: 100px;
  }

  .social {
    margin-top: 0;
  }
}



  /* Media Queries */

@media (min-width: 1440px){
  .container {
    padding: 0 160px;
  }

  /* Header */

  header .container {
    padding: 0 160px;
  }

  .nav {
    display: block;
    margin-right: 450px;
  }

  /* Banner */

  .banner--infos {
    text-align: left;
    padding: 150px 0;

  }

  .banner--infos h1 {
    width: 500px;
  }

  .banner--infos p {
    width: 400px;
    margin-left: 100px;
  }

  .banner--infos button {
    margin-left: 100px;
  }
  
  .banner--arrow {
    left: 50%;
    bottom: 180px;
  }
  
  .banner--round {
    bottom: 190px;
  }

  .line {
    display: block;
    position: absolute;
    left: 0%;
    bottom: 300px;
    z-index: 1;
  }

  .banner--infos-about {
    padding: 72px 0;
  }

  .banner-round-page {
    bottom: 60px;
  }
  
  /* Section 1 */

  .section-1 {
    padding: 160px 0;
  }

  .section-1 .container {
    gap: 30px;
    flex-direction: row;
    justify-content: start;
    position: relative;
  }

  .use {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    max-width: 100%;
    gap: 40px;
  }

  .use--text {
    display: flex;
    flex-direction: column;
  }

  .icons::before {
    top: 14%;
    left: 0;
    height: 0;
    width: 974px;
  }

  .icons {
    margin: 0;
  }

  /* Section 2 */

  .benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 220px;
  }

  .benefits--text {
    order: 1;
    text-align: left;
    width: 445px;
  }

  .img--round-1 {
    order: 2;
  }

  .arrow-right-big {
    bottom: 0;
    right: -160px;
    transform: scale(1);
  }

  .round {
    right: -160px;
  }

  .round-left {
    left: -160px;
  }

  .arrow-big-scale {
    transform: scaleY(-1) scale(1);
    top: 250px;
  }

  /* Section 4 */

  .section-4 h2 {
    margin-bottom: 100px;
  }
  
  .values {
    gap: 30px;
    flex-direction: row;
  }

  .values--text {
    width: auto;
  }

  /* Section 5 */

  .section-5 .container {
    padding: 0 160px;
}

  .questions {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 64px;
  }

  .answers {
    width: 730px;
    margin: 0;
  }


  /* CTA */

  .text {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text h2 {
    width: 415px;
    text-align: left;
  }

  .section-3::after {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .app {
    margin-top: 0;
  }

  .app img {
    height: 56px;
  }
  

  /* Footer */

  footer .container {
    padding: 35px 160px;
  }

  .nav--footer {
    margin-right: 500px;
  }





}









