
@import "styles/base/colors";

/* Footer */

footer {
    background-color: $color-background-dark;
    padding: 64px 0 88px;
    text-align: center;
  }
  
footer .logo {
    color: $white;
}
  
.nav--footer ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
    flex-direction: column;
}
  
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 85px;
}

.social a:hover svg path {
  fill: $light-blue;
}


/* Media Queries */

@media (min-width: 768px) {

  footer {
    padding: 0;
  }

  footer .container {
    padding: 35px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav--footer ul {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 0;
    flex-direction: row;
  }

  .nav--footer {
    margin-right: 100px;
  }

  .social {
    margin-top: 0;
  }

}


@media (min-width: 1440px) {
    footer .container {
        padding: 35px 160px;
    }
    
    .nav--footer {
        margin-right: 500px;
    }

}