
/* Button */ 

button {
    background-color: #FCB72B;
    color: #ffffff;
    padding: 14px 40px;
    border: none;
    text-align: center;
    margin-top: 32px;
    cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: #FCB72B;
  box-shadow: inset 0 0 0 3px #FCB72B;
}


/* Media Queries */

@media (min-width: 768px) {

  button {
    margin-top: 40px;
  }

}