
@import "colors";

/* Base */

body {
    background-color: $white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}
  
img {
  max-width: 100%;
}


/* a, ul */

a {
  text-decoration: none;
  color: $grey;
}

a:hover {
  color: $yellow;
}

ul {
  list-style: none;
}



/* Media Queries */

@media (min-width: 768px) {

  .container {
    padding: 0 98px;
  }

}


@media (min-width: 1440px){
  .container {
    padding: 0 160px;
  }
  
}
  
