
/* Colors */

$white: #ffffff;
$grey: #939CAA;
$yellow: #FCB72B;

$color-title: #495567;

$color-background-dark: #333A44;
$light-blue: #E5ECF4;

$dark-blue: #2F3B59;

$very-light-blue: #F2F5F9;
$light-beige: #FFF4DF;